.about {
  margin: 0 auto 0;
  padding: 700px 100px 0;
  max-width: fit-content;
}

.about__title {
  padding: 0;
  display: flex;
  margin: 0;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  font-size: 32px;
  font-weight: 600;
  color: #bacaff;
  position: relative;
}

.about__title-li::marker {
  color: #00ff94;
}

.about__title-li::before {
  content: "";
  width: 20px;
  display: inline-block;
}

.about__title:after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  top: 16px;
  height: 1px;
  margin-left: 20px;
  background-color: #8f9fd6;
  opacity: 40%;
}

.about__content {
  max-width: 900px;
  line-height: 1.3;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 0 40px;
}

.about__desc {
  max-width: 510px;
}

.about__pic-wrapper {
  max-height: 300px;
  max-width: 300px;
  position: relative;
  transition: translate ease-in 0.1s;
}

.about__pic-wrapper::after {
  width: 100%;
  height: 100%;
  content: "";
  border: 3px #00ff94 solid;
  border-radius: 5px;
  position: absolute;
  left: 14px;
  top: 14px;
  z-index: -1;
  transition: translate ease-in 0.1s;
}
.about__pic-wrapper:hover {
  translate: -5px -5px;
}

.about__pic-wrapper:hover::after {
  translate: 10px 10px;
}

.about__overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00ff94;
  z-index: 2;
  border-radius: 5px;
  opacity: 0.5;
  transition: opacity ease-in 0.1s;
}

.about__overlay:hover {
  opacity: 0;
}

.about__pic {
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  z-index: 1;
}
