.about {
  margin: 700px 0 0;
  padding: 0 100px 0;
}

.about__title {
  padding: 0;
  display: flex;
  margin: 0;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  font-size: 32px;
  font-weight: 600;
  color: #bacaff;
}

.about__title-li::marker {
  color: #00ff94;
}

.about__title-li::before {
  content: "";
  width: 20px;
  display: inline-block;
}

.about__title:after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  top: 16px;
  height: 1px;
  margin-left: 20px;
  background-color: #8f9fd6;
  opacity: 40%;
}

.about__content {
  max-width: 550px;
  line-height: 1.3;
}
